# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.venv/
.venv/
venv/

# SQLite (no longer used)
*.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
